/*TELA DE GÊNEROS*/
@media (min-width: 576px){
    .bodi{
        display: flex;
        height: 50%;
        width: 100%;
        flex-direction: column;
    
    }
    .efeito{
        border: none;
        color:#ffffff;
        padding: 20px;
        font-size: 24px;
        line-height: 24px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 500ms ease;
        margin: 5px;
    }
    .efeito-1{
        background-color:#9370DB;
    }
    .efeito-1:hover{
        background: rgba(0, 0, 0, 0);
        color: #9370DB;
        box-shadow: inset 0 0 0 3px #9370DB;;
    }
    .caixa{
        width: 60%;
        border-style: groove;
        border-radius: 10px;
        padding: 20px;
        border-color: #9370DB;
        display: flex;
        flex-direction: column;
        margin: 20px;
        background-color: #ffffff;
        
    }
    .line{
        border-radius: 10px;
        border-color: #9370DB;
        border-style: groove;
        height: 900px;
        margin: 10px;
    }
    .text{
        font-family: 'Courier New', Courier, monospace;
        font-style: bold;
        font-size: 30px;
        text-align: center;
    
    }
    .text1{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    .text2{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align: center;
        text-align: justify;
    }
    
    .box-img{
        margin: 0px;
        border-radius: 5px;
        
    }
    .box-card{
        flex-direction: column;
        display: flex;
        background-color: #b49edc;
        width: 100%;
        height: 5%;
        border-radius: 12px;
        box-shadow: 4px 4px 12px #aaa;
        align-items: center;
        justify-content: center;
        margin: 50px;
        padding-bottom: 5px;
    }
    .card-h1{
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
    }
    .card-h2{
        font-size: .9rem;
        font-family: 'Courier New', Courier, monospace;
        color: #ffffff;
    }
    
    .buttun{
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        background-color: #7a5ebc;
        width: 100%;
        border-color: #ffffff;
        box-shadow: none;
        float: left;
    }
    .card-h3{
        color: #ffffff;
        font-size: .8rem;
        font-family: 'Courier New', Courier, monospace;
    }
    
}
