.bodyTutorial{
    background-color: #9370DB;
}

.sidebar {
    min-width: 250px;
    background-color: #9370DB;
    height: 100vh;
    min-height: 100%;
    color: #151515;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin: 10px 0;
}
.sidebar a {
    color: #151515;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #7a5ebc;
}
.buttonSidebar {
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #d2bbff;
    box-shadow: 2px 1px #d2bbff;
    border-radius: 0.5rem;
}
.content {
    border: 1px solid rgb(230, 230, 230);
    background-color: white;
    border-radius: 1rem;
    flex-grow: 1;
    padding: 20px;
    color: #151515;
}
.content h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}
.content p {
    color: #333;
}
.section {
    display: none;
}
.section.active {
    display: block;
}