/* ESTILOS DA NAVBAR */
.navbar {
    padding: 0;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.btn-secondary {
    background-color: #9370DB;
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #6959CD;
}

.btn-secondary .bi {
    color: white;
    font-size: 1.5em;
}

.dropdown-menu {
    background-color: #9370DB;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #7a5ebc;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.125rem;
}

/*STYLES DA SECTION LIVROS RECENTES*/

.mainSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-master-publi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: -15px 0;
}

.lado-esquerdo,
.lado-direito {
    background-color: #9370DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    margin: 8px;
    -radius: 10px;
    width: 45%;
    padding: 20px;
}

.format-titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    margin: 3px 0;
    text-align: center;
}

.format-img {
    width: 65%;
    height: auto;
}

.botao {
    -radius: 0;
    : 0;
    background-color: #9370DB;
}

.format-text-arq {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

#fileDisplayArea {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.title-escrita{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.titulo-publi,
.img-publi,
.escritor-publi,
.editora-publi,
.hashtags-publi,
.sinopse-publi {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.textarea-sinopse,
.input-hashtags,
.input-editora,
.input-escritor,
.input-img,
.input-title {
    margin: 5px 0;
    -radius: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
}

.button-enviar{
    box-sizing: -box;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    background-color: #7a5ebc;
    width: 150px;
    border-color: #f5f0ff;
    box-shadow: none;
    padding: 6px;
    border-radius: 8px;
}
