/* ESTILOS DA NAVBAR */
.navbar {
    padding: 0% 0%;
}

.navbar-brand {
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    border-bottom: 5em;
}

.btn-secondary {
    background-color: #9370DB;
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #6959CD;
}

.btn-secondary .bi {
    color: white;
    font-size: 1.5em;
}

.dropdown-menu {
    background-color: #9370DB;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #7a5ebc;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #6959CD;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.125rem;
}

/*STYLES DA SECTION LIVROS RECENTES*/

.sectionCfg {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.75em 1.5em;
    height: 220px;
    background-color: red;
    border: 1px solid #09ff00;
}

.mainSettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/* CSS do perfil do site */
.container-master-publi {
    display: flex;
    flex-direction: column;
}

.format-titulo-publi {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.format-titulo-publi-master {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    border-radius: 8px;
    padding: 5px;
    border-style: groove;
    border-color: #6959CD;
}

.box-publi-master {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.0);
    margin: 8px;
    border-radius: 10px;
    width: 90%;
    max-width: 100%;
}

.boc {
    display: flex;
    flex-direction: row;
    border: 3px solid;
    border-style: groove;
    border-color: #6959CD;
    margin: 10px;
    padding: 20px;
    width: 90%;
    height: 85%;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box-publi {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 12px rgba(0, 0, 0.5, 0.5);
    border-radius: 8px;
    width: 14%;
    height: 90%;
    margin: 10px;
    background-color: #d6cde7;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.box-publi-img {
    width: 95%;
    height: auto;
    border-start-end-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-publi-titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-publi-data {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: -2px 0px 2px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .box-publi {
        width: 30%;
    }

    .box-publi-titulo {
        font-size: 17px;
    }

    .box-publi-escritor {
        font-size: 15px;
    }

    .box-publi-img{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .box-publi {
        width: 45%;
    }

    .box-publi-titulo {
        font-size: 16px;
    }

    .box-publi-escritor {
        font-size: 15px;
    }

    .box-publi-img{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .box-publi {
        width: 90%;
    }

    .box-publi-titulo {
        font-size: 15px;
    }
    
    .box-publi-escritor {
        font-size: 14px;
    }

    .box-publi-img{
        width: auto;
        height: auto;
    }
}
